body{
  background-repeat: repeat-y;  ;
  background-image: url('../imgs/body-background.jpg');
  background-size: 100%;
}
canvas{
  position: absolute;
  top: 42px ;
}
#canvas{
  background-image: url('../imgs/game-background.jpg');
  background-size: inherit;
  background-repeat: no-repeat;
  border: solid 5px #520303;
  border-radius: 10px;

}
#diceBtn{
  position: absolute;
  top: 10%;
  -webkit-filter: grayscale(70%) blur(2px);
  filter: grayscale(70%) blur(2px);
  -webkit-transition: filter 0.32s ease-in-out;
  transition: filter 0.32s ease-in-out

}
#diceBtn img{
  position: absolute;
  width: 150px;
}
#diceBtn img:nth-child(2){
  margin-left: 120px;
  width: 75px;
  margin-top: 75px
}
#diceBtn:hover{
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
#moneyDiv{
  position: absolute;
  color: rgb(9, 173, 200);
  font-weight: bolder;
  top:30%;
  right:27%;
  font-size:200%;

}
#border{
  position: absolute;
  border-style: solid;
  border-color: rgb(69, 210, 62);
  border-radius: 4.5em;
  width: 20%;
  border-width: thick;
  background-color: rgb(69, 210, 62);
  opacity: 0.8;
  box-shadow: 10px 10px 5px rgb(36, 22, 16);
  left: 75%;
  top: 5%;
  height: 15%;
}
#mainDropDown{
  position: absolute;
}
