body{
  background-repeat: repeat-y;  ;
  background-image: url('../imgs/body-background.jpg');
  background-size: 100%;
}
canvas{
  position: absolute;
  top: 42px;
}
#canvas{
  background-image: url('../imgs/game-background.jpg');
  background-size: 700px;
  background-repeat: no-repeat;
  border: solid 5px #520303;
  border-radius: 10px;
}
#diceBtn{
  position: absolute;
  top: 50px;
  -webkit-filter: grayscale(70%) blur(2px);
  filter: grayscale(70%) blur(2px);
  -webkit-transition: filter 0.32s ease-in-out;
  transition: filter 0.32s ease-in-out
}
#diceBtn img{
  position: absolute;
  width: 150px;
}
#diceBtn img:nth-child(2){
  margin-left: 120px;
  width: 75px;
  margin-top: 75px
}
#diceBtn:hover{
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
