body{
  margin: 0;
  background-repeat: repeat-y;  ;
  background-image: url('../imgs/body-background.jpg');
  background-size: 100%;
}
canvas{
  position: absolute;
  top: 42px;
  left: 10px;
}
#canvas{
  background-image: url('../imgs/game-background.jpg');
  background-size: 700px;
  background-repeat: no-repeat;
  border: solid 5px #520303;
  border-radius: 10px;
}
#diceBtn{
  position: absolute;
  top: 10%;
  -webkit-filter: grayscale(70%) blur(2px);
  filter: grayscale(70%) blur(2px);
  -webkit-transition: filter 0.32s ease-in-out;
  transition: filter 0.32s ease-in-out

}
#diceBtn img{
  position: absolute;
  width: 150px;
}
#diceBtn img:nth-child(2){
  margin-left: 120px;
  width: 75px;
  margin-top: 75px
}
#diceBtn:hover{
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
#moneyDiv{
  position: absolute;
  left: 70vw;
  font-size: 40px;
  font-weight: 400;
  color: #841b1b;
  z-index: 1;
}
#mainDropDown{
  position: absolute;
top: 90%;
left: 0.8%;
background-color: rgba(206, 161, 43, 0.62);
border-radius: 1em;
  max-width: 37%
}
#mainDropDownCanvas{
  position: absolute;
  display: inline;
  top: 30%;
  left: 40%;
  width: 285px;
  height: 350px;
  z-index: 1;

}
.black-div{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
}
#cardDiv{
  vertical-align: middle;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#myPicDiv{
  position: absolute;
  top: 10px;
  right: 10px;
}
#myPicDiv img{
  width: 150px;
  height: 150px;
}
select{
  background-color: transparent;
  color: #841b1b;
  padding: 16px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  min-width: 240px;
  border-style: none;
  border-color: transparent;
  font-weight: 400;
}
#propertyDropDown  {
  position: absolute;
    left: 62vw;
    top: 0%;
    background-color: rgba(206, 161, 43, 0.62);
    border-style: solid;
    border-width: thick;
    border-spacing: 1000px 600px;
    border-collapse: separate;
    padding: 100px 20px 30px 20px;
    color: #841b1b;
    max-width: 20vw;
    border-top: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    min-width: 21%;
    text-align: right
}

#propertyInfo{
  position: absolute;
  top: 0%;
  left: 82vw;
}
#diceResults{
    position: absolute;
    left: 825px;
    top: 27%;
    font-style: italic;
    background-color: rgba(206, 161, 43, 0.62);
    display: inline-block;
    border: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 1em;
    width: 71px;
    overflow: hidden;
    font-size: xx-large;
    color: #841b1b;
}
