body{
  margin: 0;
  background-repeat: repeat-y;  ;
  background-image: url('../imgs/body-background.jpg');
  background-size: 100%;
}
canvas{
  position: absolute;
  top: 42px;
  left: 10px;
}
#canvas{
  background-image: url('../imgs/game-background.jpg');
  background-size: 700px;
  background-repeat: no-repeat;
  border: solid 5px #520303;
  border-radius: 10px;
}
#diceBtn{
  position: absolute;
  top: 10%;
  -webkit-filter: grayscale(70%) blur(2px);
  filter: grayscale(70%) blur(2px);
  -webkit-transition: filter 0.32s ease-in-out;
  transition: filter 0.32s ease-in-out

}
#diceBtn img{
  position: absolute;
  width: 150px;
}
#diceBtn img:nth-child(2){
  margin-left: 120px;
  width: 75px;
  margin-top: 75px
}
#diceBtn:hover{
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
#moneyDiv{
  position: absolute;
  left: 70%;
  font-size: 40px;
  color: #841b1b;
  border-style: solid;
  border-width: thick;
  background-color: rgba(206, 161, 43, 0.62);
  border-spacing: 1000px 600px;
  border-collapse: separate;
  padding: 30px 50px 30px 50px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top: none;
  font-weight: bold;
}
#mainDropDown{
  position:absolute;
  top: 85%;
  left: 70%;
}
#mainDropDownCanvas{
  position: absolute;
  display: inline;
  top: 30%;
  left: 40%;
  width: 285px;
  height: 350px;
  z-index: 1;
}
.black-div{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
}
#cardDiv{
  vertical-align: middle;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
