body{
  background-repeat: repeat-y;  ;
  background-image: url('body-background.jpg');
  background-size: 100%;
}
canvas{
  position: absolute;
  top: 42px;
}
#canvas{
  background-image: url('game-background.jpg');
  background-size: 700px;
  background-repeat: no-repeat;
  border: solid 5px #520303;
  border-radius: 10px;
}
